# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Additions

##### Using 'or' in if statements

In [3]:
name1 = "John"
name2 = "Trent"
name3 = "Kirsten"
name4 = "Kevin"

In [4]:
if name1 == 'John' or name2 == 'Dan' or name3 == 'Jeff' or name4 == 'Annie':
    print("Hey there!")

Hey there!

##### Using 'and' in if statements

In [ ]:
# T & T = T
# T & F = F
# F & F = F
# T or T = T
# T or F = T
# F or T = T
# F or F = F

In [5]:
if (name1 == "John" and name2 == "Trent") or (name3 == "QWERTY" and name4 == "ASDFGH"):
    print("This worked!")

This worked!

In [9]:
if name1 == "John" and name2 == "Trent" and name3 == "Kirsten" and name4 == "Kevin":
    print("Hey there!")

Hey there!

##### Using both 'or' and 'and' in if statements

### String Manipulation

In [17]:
statement = "           Welcome          "
len(statement)

28

##### .lstrip()

In [13]:
statement.lstrip()

'Welcome          '

##### .rstrip()

In [14]:
statement.lstrip()

'Welcome          '

##### .strip()

In [15]:
statement.strip()

'Welcome'

##### .title() - Capitalizes first letter of new words regardless of whether there's a space or special character in-between the words

In [20]:
bookname = "to kill a mockingbird"
bookname.title()

'To Kill A Mockingbird'

##### .lower()

In [21]:
bookname = "To Kill A Mockingbird"
bookname.lower()

'to kill a mockingbird'

##### .upper()

In [22]:
bookname.upper()

'TO KILL A MOCKINGBIRD'

##### .replace()

In [23]:
"catcher in.the rye".replace('.', ' ')

'catcher in the rye'

##### .join()

In [24]:
new_statement = ["was", "a", "good", "book"]
" ".join(new_statement)

'was a good book'

##### .count()

In [25]:
"to kill a mockingbird".count("o") #replace .count("with anything you want counted")

2

### Working With Lists

In [27]:
list1 = [1,2,3,4,5]
list2 = ["Hello", "Goodbye", "Greetings"]
list3 = ["Hello", 1, 22, "Whatsup"]

In [34]:
list4 = [
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15]
]

In [28]:
list1[0]

1

In [31]:
list2[2]

'Greetings'

In [35]:
list4[0]

[1, 2, 3, 4, 5]

In [36]:
list4[1][0]

6

In [37]:
from random import choice

In [48]:
range_list = list(range(1,101))
new_list = []

for i in range(10):
    my_choice = choice(range_list)
    new_list.append(my_choice)
    
new_list

[31, 66, 80, 55, 3, 100, 19, 80, 59, 50]

In [40]:
# min()

In [41]:
min(new_list)

1

##### max()

In [42]:
max(new_list)

95

##### sum()

In [43]:
sum(new_list)

429

In [44]:
from statistics import mean

In [45]:
mean(new_list)

42.9

##### .sort() - alters original list, but does not return anything

In [46]:
new_list.sort() #sorts this list and changes it

In [47]:
new_list

[1, 5, 6, 18, 41, 49, 54, 78, 82, 95]

In [49]:
sorted(new_list) #sorts list but doesnt change original

[3, 19, 31, 50, 55, 59, 66, 80, 80, 100]

In [50]:
new_list

[31, 66, 80, 55, 3, 100, 19, 80, 59, 50]

##### Copying a List

In [51]:
new_other_list = new_list.copy()

In [52]:
new_other_list

[31, 66, 80, 55, 3, 100, 19, 80, 59, 50]

In [53]:
new_list.append(99)
new_list

[31, 66, 80, 55, 3, 100, 19, 80, 59, 50, 99]

In [54]:
new_other_list

[31, 66, 80, 55, 3, 100, 19, 80, 59, 50]

In [55]:
some_new_list = new_list

some_new_list

In [56]:
some_new_list # now if new_list is changed some_new_list will change as well

[31, 66, 80, 55, 3, 100, 19, 80, 59, 50, 99]

##### 'in' keyword

In [57]:
sentence = "Catcher in.the rye"
if "." in sentence:
    print("There is a '.'")

There is a '.'

In [58]:
a_list = [1,2,3,4,5]
if 3 in a_list:
    print("There is a 3")

There is a 3

##### 'not in' keyword

In [59]:
a_list = [1,2,3,4,5]
if 10 not in a_list:
    print("There is not a 10")

There is not a 10

##### Checking an Empty List

In [91]:
# ALL EMPTY LISTS EVALUATE TO FALSE, ALL NON-EMPTY LISTS EVALUATE TO TRUE

In [63]:
empty_list = [#if something here, this will return "This list is not empty"#]
if empty_list:
    print("This list is not empty")

In [64]:
if not empty_list:
    print("This list is empty")

This list is empty

In [65]:
if len(empty_list) == 0:
    print("This list is empty")

This list is empty

In [66]:
non_empty_list = [1,2,3]
if len(non_empty_list) != 0:
    print("This list is not empty")

This list is not empty

In [67]:
if len(non_empty_list) > 0:
    print("This list is not empty")

This list is not empty

In [69]:
flag = True

i = 0
while flag:
    print(i)
    i+=1
    if i == 10:
        flag = False

0
1
2
3
4
5
6
7
8
9

In [70]:
done = False

i = 0
while not done:
    print(i)
    i+=1
    if i == 10:
        done = True

0
1
2
3
4
5
6
7
8
9

##### Add items to a list

In [71]:
non_empty_list.append(98)

In [72]:
non_empty_list

[1, 2, 3, 98]

non_empty_list.append(

In [73]:
non_empty_list.append([2,3,4,5])
non_empty_list

[1, 2, 3, 98, [2, 3, 4, 5]]

In [74]:
new_list.extend([23,15,51,44])
new_list

[31, 66, 80, 55, 3, 100, 19, 80, 59, 50, 99, 23, 15, 51, 44]

In [75]:
new_list + ["Hello"] #does not update list

[31, 66, 80, 55, 3, 100, 19, 80, 59, 50, 99, 23, 15, 51, 44, 'Hello']

In [76]:
new_other_list = new_list + ["hello", "goodbye"]

In [77]:
new_other_list #save the list

[31,
 66,
 80,
 55,
 3,
 100,
 19,
 80,
 59,
 50,
 99,
 23,
 15,
 51,
 44,
 'hello',
 'goodbye']

##### Remove items to a list

In [79]:
new_list.pop()# add index in the () in -'s. Will remove index from list and return to you

44

In [80]:
new_list

[31, 66, 80, 55, 3, 100, 19, 80, 59, 50, 99, 23, 15, 51]

In [81]:
new_list.remove(3) #removes specific item in list

In [82]:
new_list

[31, 66, 80, 55, 100, 19, 80, 59, 50, 99, 23, 15, 51]

In [83]:
del new_list[3]

In [84]:
new_list

[31, 66, 80, 100, 19, 80, 59, 50, 99, 23, 15, 51]

##### Removing Instances with a Loop

In [85]:
range_list = list(range(1,4))
new_list = []

for i in range(15):
    my_choice = choice(range_list)
    new_list.append(my_choice)
    
new_list

[1, 1, 2, 2, 3, 1, 2, 3, 2, 1, 3, 3, 2, 2, 3]

In [86]:
for i in new_list:
    if i == 2:
        new_list.remove(2)
        
new_list

[1, 1, 3, 1, 3, 1, 3, 3, 2, 2, 3]

In [88]:
i = 0
while i < len(new_list):
    if new_list [i] == 2:
        new_list.remove(new_list[i])
    else:
        i +=1
        
new_list            #use while loop to remove charc from list.

[1, 1, 3, 1, 3, 1, 3, 3, 3]

In [89]:
# list slices

new_list[5]

1

In [91]:
new_list[:-5]

[1, 1, 3, 1]

In [92]:
list(range(1,20,2))#start,stop,step

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [94]:
new_list[::2]

[1, 3, 3, 3, 3]

In [96]:
del new_list[6:12]

In [99]:
new_list

[1, 1, 3, 1, 3, 1]

In [100]:
new_list

[1, 1, 3, 1, 3, 1]

In [101]:
new_list[1:3] = [4,15]
new_list

[1, 4, 15, 1, 3, 1]

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

In [102]:
for i in new_list[::2]:
    print(i)

1
15
3

In [103]:
[i for i in new_list[::2]]

[1, 15, 3]

In [104]:
[i for i in new_list]

[1, 4, 15, 1, 3, 1]

In [105]:
non_empty_list = []
for i in new_list:
    new_num = i ** 2
    non_empty_list.append(new_num)
print(non_empty_list)

[1, 16, 225, 1, 9, 1]

In [108]:
print([i**2 for i in new_list if i % 2==0])

[16]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [109]:
tup1 = (11,12,13,14,15)
# cant change a tuple with another command. to change, you must return to orignal tuple position

In [110]:
tup1

(11, 12, 13, 14, 15)

In [ ]:
tup1

##### sorted()

In [112]:
sorted(tup1)

[11, 12, 13, 14, 15]

In [113]:
tup1

(11, 12, 13, 14, 15)

## Functions

##### DRY Principles

#### Don't
#### Repeat
#### Yourself

In [114]:
name1 = "Micheal"
name2 = "Larry"
name3 = "Bill"

names = [name1, name2, name3]
[i for i in names]

['Micheal', 'Larry', 'Bill']

In [121]:
def formatNames(a_list):
    for i in a_list:
        print(f"First name: {i}\nLast name: Jordan\n\n)
              
formatNames(names)
formatNames(["Hello", "Goodbye", "See ya"])

SyntaxError: EOL while scanning string literal (<ipython-input-121-5a747da583a0>, line 3)

In [116]:
for i in names:
    print(f"First name: {i}\nLast name: Jordan\n\n")

First name: Micheal
Last name: Jordan


First name: Larry
Last name: Jordan


First name: Bill
Last name: Jordan

##### User-Defined vs. Built-In Functions

In [120]:
def doSomething(): #user defined func
    pass

In [ ]:
print() #predefined functions
max()
min()
range()
len()

##### Accepting Parameters

In [ ]:
#parameter - placeholder data
def formatNames(a_list): #defining a function(parameter)
    for i in a_list:
        print(f"First name: {i}\nLast name: Jordan\n\n)
#arguments - real data              
formatNames(names) #calling/executing
formatNames(["Hello", "Goodbye", "See ya"])

##### Default Parameters

In [126]:
def exponents(a_list, exponent=2, divisible=2):
    return [i**exponent for i in a_list if i%divisible==0]

exponents([1,2,3,4,5], exponent=3)

[1, 27, 125]

##### Making an Argument Optional

In [127]:
def doSomething(a_list, multiplier=None):
    if multiplier is None:
        return "Nothing to see here"
    else:
        return [i*multiplier for i in a_list]

doSomething([1,2,3,4],2)

[2, 4, 6, 8]

In [128]:
def doSomething(a_list, multiplier=None):
    if multiplier is None:
        return "Nothing to see here"
    return [i*multiplier for i in a_list]

doSomething([1,2,3,4],2)

[2, 4, 6, 8]

In [131]:
def test():
    for i in range(1,100000):
        if i == 1:
            return i
        else:
            print(i)
            
test()

1

##### Arguments

##### Returning Values

In [132]:
def sum_nums(a,b):
    return a+b

num1 = 10
num2 = 25
num3 = sum_nums(num1, num2)

In [133]:
num3

35

##### Docstring

In [135]:
def doSomething(a_list, multiplier=None):
    """
    This function does some things and gets stuff done
    """
    if multiplier is None:
        return "Nothing to see here"
    else:
        return [i*multiplier for i in a_list]

doSomething([1,2,3,4],2)

[2, 4, 6, 8]

In [136]:
help(doSomething)

Help on function doSomething in module __main__:

doSomething(a_list, multiplier=None)
    This function does some things and gets stuff done

##### Using a User Function in a Loop

In [137]:
def sum_nums(a,b):
    """
    This function takes two values, a and b, sums them together and returns the value
    """
    return a+b

In [138]:
tuple_values = [(1,2), (3,4), (5,6)]

In [139]:
for i in tuple_values:
    print(sum_nums(i[0], i[1]))

3
7
11

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [140]:
def heyYou1():
    stuff1 = "Hello"
    
stuff1 #stuff1 is not a global variable because it needs defined above def heyYou1 ()

NameError: name 'stuff' is not defined

In [142]:
stuff2 = "Hello"

def heyYou2():
    print(stuff2)
    
heyYou2()

Hello

# Exercises

## Exercise 1 <br>
<p>Write a function that performs a bubble sort<br><i><b>Hint: in place assignment is 'num[x], num[x+1] = num[x+1], num[x]'</b></i></p>

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [190]:
def Merge(l1, l2): 
    final_list = l1 + l2 
    final_list.sort() 
    return(final_list) 

l1 = [25, 18, 9, 41, 26, 31] 
l2 = [25, 45, 3, 32, 15, 20] 
print(Merge(l1, l2))

[3, 9, 15, 18, 20, 25, 25, 26, 31, 32, 41, 45]

## Exercise 3 <br>
<p> Ask the user to input a number and check if that number is prime using a function, loop until they no longer want to check a number.<br><b><i>Hint: Use yesterday's prime number code</i></b></p>

In [242]:
while True:
    num = int(input("Enter a number to check if it is prime:(Or type 'Quit' to end)"))
    
    
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                print(num,"is not a prime number")

                break
        else:
            print(num,"is a prime number")

    else:
        print(num,"is not a prime number")
        
        
    if num == 'Quit':
        break

Enter a number to check if it is prime:(Or type 'Quit' to end)1
1 is not a prime number
Enter a number to check if it is prime:(Or type 'Quit' to end)2
2 is a prime number
Enter a number to check if it is prime:(Or type 'Quit' to end)3
3 is a prime number
Enter a number to check if it is prime:(Or type 'Quit' to end)4
4 is not a prime number
Enter a number to check if it is prime:(Or type 'Quit' to end)5
5 is a prime number
Enter a number to check if it is prime:(Or type 'Quit' to end)quit

ValueError: invalid literal for int() with base 10: 'quit'

## Exercise 4 <br>
<p>Ask the user to input a number of rows they'd like to build a pyramid to... then build a pyramid to that specific number of rows.<br><b><i>Hint: Use the pyramid code from yesterday and throw it into a function</i></b></p>

In [252]:
n = int(input("Enter a number of rows for your pyramid:"))

def pyramid(n):
    k = 2*n - 2
    for i in range(0,n):
        for j in range(k):
            print(end=" ")
        k -= 1
        for j in range(i+1):
            print("X", end=" ")
        print("\r")
        
pyramid(n)

Enter a number of rows for your pyramid:25
                                                X
                                               X X
                                              X X X
                                             X X X X
                                            X X X X X
                                           X X X X X X
                                          X X X X X X X
                                         X X X X X X X X
                                        X X X X X X X X X
                                       X X X X X X X X X X
                                      X X X X X X X X X X X
                                     X X X X X X X X X X X X
                                    X X X X X X X X X X X X X
                                   X X X X X X X X X X X X X X
                                  X X X X X X X X X X X X X X X
                                 X X X X X X X X X X X X X X X X
                                X X X X X X X X X X X X X X X X X
                               X X X X X X X X X X X X X X X X X X
                              X X X X X X X X X X X X X X X X X X X
                             X X X X X X X X X X X X X X X X X X X X
                            X X X X X X X X X X X X X X X X X X X X X
                           X X X X X X X X X X X X X X X X X X X X X X
                          X X X X X X X X X X X X X X X X X X X X X X X
                         X X X X X X X X X X X X X X X X X X X X X X X X
                        X X X X X X X X X X X X X X X X X X X X X X X X X

## Exercise 5 <br>
<p>Create a calculator using functions that asks for two numbers and performs a calculation that the user inputs... Loop until the user chooses not to perform any more calculations.<br><b><i>Hint: Take yesterday's code from the extra exercise...</i></b></p>

In [274]:
def add(num1, num2): 
    return num1 + num2 
  
def subtract(num1, num2): 
    return num1 - num2 
   
def multiply(num1, num2): 
    return num1 * num2 
  
def divide(num1, num2): 
    return num1 / num2 
while True:
    if select == "quit":
        break  
    print("Please select desired operation:(or type 'Quit' to end\n"  
            "1. Add\n "  
            "2. Subtract\n "  
            "3. Multiply\n "  
            "4. Divide") 

    select = int(input("Select operations form 1, 2, 3, 4 :")) 

    number_1 = int(input("Enter first number: ")) 
    number_2 = int(input("Enter second number: ")) 


    if select == 1: 
        print(number_1, "+", number_2, "=",  add(number_1, number_2))



    elif select == 2: 
        print(number_1, "-", number_2, "=",  subtract(number_1, number_2))


    elif select == 3: 
        print(number_1, "*", number_2, "=",  multiply(number_1, number_2))


    elif select == 4: 
        print(number_1, "/", number_2, "=", divide(number_1, number_2))

    else: 
        print("Invalid input")

Please select desired operation:(or type 'Quit' to end
1. Add
 2. Subtract
 3. Multiply
 4. Divide
Select operations form 1, 2, 3, 4 :quit

ValueError: invalid literal for int() with base 10: 'quit'